/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 500px;
}
.group{
  padding-left: 5em;
}
h2, h3{
  display: flex;
  justify-content: center;
}
.hide{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
